@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
/* HEADLINES (Desktop) */
.H1 {
  @apply text-[3.5rem] leading-[4rem] font-semibold;
}

.H2 {
  @apply text-[3rem] leading-[3.5rem] font-semibold;
}

.H3 {
  @apply text-[2.5rem] leading-[3rem] font-semibold;
}

.H4 {
  @apply text-[2rem] leading-[2.5rem] font-semibold;
}

.H5 {
  @apply text-[1.5rem] leading-[2rem] font-semibold;
}

.H6 {
  @apply text-[1.125rem] leading-[1.5rem] font-semibold;
}

.H7 {
  @apply text-[1rem] leading-[1.5rem] font-semibold;
}

/* HEADLINES (Tablet) */
.TH1 {
  @apply text-[3rem] leading-[3.5rem] font-semibold;
}

.TH2 {
  @apply text-[2.5rem] leading-[3rem] font-semibold;
}

.TH3 {
  @apply text-[2rem] leading-[2.5rem] font-semibold;
}

.TH4 {
  @apply text-[1.5rem] leading-[2rem] font-semibold;
}

.TH5 {
  @apply text-[1.125rem] leading-[1.5rem] font-semibold;
}

.TH6 {
  @apply text-[1rem] leading-[1.5rem] font-semibold;
}

.TH7 {
  @apply text-[0.87rem] leading-[1.5rem] font-semibold;
}

/* HEADLINES (Mobile) */
.MH1 {
  @apply text-[2rem] leading-[2.5rem] font-semibold;
}

.MH2 {
  @apply text-[1.5rem] leading-[2rem] font-semibold;
}

.MH3 {
  @apply text-[1.25rem] leading-[2rem] font-semibold;
}

.MH4 {
  @apply text-[1.125rem] leading-[1.5rem] font-semibold;
}

.MH5 {
  @apply text-[1rem] leading-[1.5rem] font-semibold;
}

.MH6 {
  @apply text-[0.87rem] leading-[1.5rem] font-semibold;
}

/* BODY (Desktop) */
.DB1 {
  @apply text-[1.125rem] leading-[2rem] font-normal;
}

.DB2 {
  @apply text-[1rem] leading-[1.5rem] font-normal;
}

.DB3 {
  @apply text-[0.875rem] leading-[1.5rem] font-normal;
}

/* BODY (Tablet) */
.TB1 {
  @apply text-[1rem] leading-[1rem] font-normal;
}

.TB2 {
  @apply text-[0.875rem] leading-[1rem] font-normal;
}

.TB3 {
  @apply text-[0.875rem] leading-[1rem] font-normal;
}

/* BODY (Mobile) */
.MB1 {
  @apply text-[0.875rem] leading-[1.5rem] font-normal;
}

.MB2 {
  @apply text-[0.75rem] leading-[1.25rem] font-normal;
}

.MB3 {
  @apply text-[0.75rem] leading-[1.25rem] font-normal;
}

/* Button/Link */
.ButtonLarge {
  @apply text-[1.25rem] leading-[1.5rem] font-bold;
}

.ButtonNormal {
  @apply text-[1.125rem] leading-[1.5rem] font-normal;
}

@tailwind utilities;

@layer base {
  html {
    @apply font-PT;
  }
}
